@use "sass:list";
@for $i from 1 through 10 {
  .course-color-#{$i} {
    color: var(--color-#{$i});
    background-color: var(--bg-color-#{$i});
    border: none;
    box-shadow: 0px 0px 4px 3px var(--color-#{$i});
  }
}

@for $i from 1 through 10 {
  .course-color-#{$i}-selected {
    box-shadow: 0px 0px 4px 3px var(--color-#{$i}), 0px 0px 6px 10px var(--border-blue);
  }
}

@for $i from 1 through 10 {
  .color-option-#{$i} {
    background-color: var(--color-#{$i});
    border: none;
    // box-shadow: 0px 0px 0px 3px var(--bg-color-#{$i});
    border-radius: 100%;
  }
}

@for $i from 1 through 10 {
  .color-option-#{$i}-selected {
    box-shadow: 0px 0px 6px 5px var(--border-blue);
  }
}

@for $i from 1 through 10 {
  .color-option-#{$i}-disabled {
    background-color: var(--bg-color-#{$i});
    backdrop-filter: blur(1px);
  }
}

@for $i from 1 through 10 {
  .task-row-color-#{$i} {
    background-color: var(--bg-color-#{$i});
  }
}

@for $i from 1 through 10 {
  .course-font-color-#{$i} {
    color: var(--color-#{$i});
  }
}
