@import 'routes/index';
@import 'tachyons/index';
@import 'dictionary';
@import 'components';
@import 'courses';
@import 'ember-power-select';

.ember-application {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

body {
    margin: 0;
}

.button-clicked {
    border-style: inset;
}
