.courses-container {

}

.tasks-container {
}

.edit-button {
    padding: 0;
    border: none;
    background: none;
}

.edit-button:hover {
    background-color: var(--border-blue);
}

.task-completion-checkbox {
    height: 1.25rem;
    width: 1.25rem;
}