.courses-container {

}

.tasks-container {
}

.edit-button {
    padding: 0;
    border: none;
    background: none;
}

.edit-button:hover {
    background-color: var(--border-blue);
}

.task-completion-checkbox {
    height: 1.25rem;
    width: 1.25rem;
}

.schedule-card {
    height: var(--h-5\.5);
    width: var(--w-5\.5);
    border-color: var(--border-blue);
    box-shadow: 10px 10px 10px 18px var(--border-blue);
    background-color: white;
    margin: var(--spacing-6)
}

.schedule-card-title {
    color: var(--schedule-font);
}